nav{
    position: relative;
    bottom: 7vh;
}
ul{
    background-color: #EDBB00;    
    height:4vh;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
      
}

.homeIcon{
    height:15vh;
    width:auto;
    position: relative;
    right:90vw;
    bottom:11vh;
    
}

a{    
    text-decoration: none;
    color:white;
    margin: 0px 10px;
}
a:active{
    color: #EDBB00;
}