.newsEnter{
    position:fixed;
    top: 90vh;
    
    
}
center{
    background-color: #004D98; 
    height: 10vh;
    width:60vw;
    position: relative;
    left:20vw;
    bottom:8vh;

}
input{
    width:100vw;
    height:10vh;
    position:fixed;
    background-color:#EDBB00;   
    border: none;     
}
button{
    position:relative;
    left:83vw;
    bottom:5vh;    
}
/* 
.displayNews{
    position:relative;
    bottom:70vh;
} */


